.home{
    height: 100vh;
    background-image: url('../images/image2.jpeg');
}
.Text{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.bg-dark{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

}
.font-link{
    font-family: 'Licorice', cursive;;
}