.home{
    height: 100vh;
    background-image: url('../images/image2.jpeg');
}
.Text{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    
}
.bg-dark{
    background-color: #3b070773;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 4px solid #fff;
    border-color: rgba(221, 124, 6, 0.185);
    padding: 10px;
}
.font-link{
    font-family: 'Licorice', cursive;;
    font-size: 50px;
    color: rgb(148, 12, 12);
}

.font-link-footer{
    font-family: 'Licorice', cursive;;
    font-size: 50px;
    color: rgb(114, 94, 94);
    position: relative;
    margin-top: 200px;
    background-color: #ffffff2d;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 4%;
    border: 3px solid #fff;
    border-color: rgb(223, 128, 12);
}
.card-text{
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.856);
    text-align: center;
}

footer{
    color: aliceblue;   
}