.nav{
    background-color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.logo{
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.ul{
    list-style-type: none;
    text-align: end;
    margin-right: 10px;
    font-size: medium;
    padding: 0;
    overflow: hidden;

}