.nav{
    background-color: rgba(179, 18, 18, 0.404);
    height: 30px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 100;
}
.nav-title{
    justify-items:auto;
}
.logo{
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.ul{
    list-style-type: none;
    text-decoration: none;
    text-align: end;
    margin-right: 10px;
    font-size: 20px;
    padding: 0;
    overflow: hidden;
}

